
$layout-unit: 4px;
$phi: 1.618033988749895;


$hue: 179deg;
$saturation: 60%;
$lightness: 42%;


$color-highlight: hsl($hue * 0.2, $saturation * 1.5, $lightness * 1.5);
$color-foreground: hsl($hue, $saturation, $lightness * 1.2);
$color-middle: hsl($hue, $saturation, $lightness);
$color-dark-background: hsl($hue, $saturation, $lightness * 0.6);
$color-light-background: hsl($hue, $saturation, 95%);
