@import '../theme';

.performance-header {
    padding: $layout-unit * 3;
    color: $color-dark-background;
    //border: 1px solid #807974;
    //margin-top: -1px;
    //margin-bottom: -1px;
    //background-color: white;
    justify-content: space-around;
    display: flex;
}

.performance-content {
    display: flex;
    flex-direction: column;
}

.performance-content-detail {
    border: 1px solid #807974;
    border-radius: 4px;
    margin: 8px;
}

.performance-tabs-container {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 8px;
}

.performance-tab-wrapper {
    display: flex;
    align-items: center;
}

.performance-tab-route {
    background-color: #86867A;
    box-shadow: 0px 3px 5px rgba(68, 68, 68, 0.4);
}

