.scene-container {
    flex: 4;
    display: flex;
    text-decoration: none;

    justify-content: space-between;
    align-self: stretch;
}

.scene-summary {
    display: inline-block;
    text-decoration: none;
}

.scene-summary-route {
    background-color: #807974;
}